[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
prefect-civi = {path = "./../src/prefect-civi"}

[dev-packages]
setuptools = "*"
ikp3db = "*"

[requires]
python_version = "3.7"
python_full_version = "3.7.3"
